html{
    width: 1200px;
    margin:auto;
    padding: 15px;
    max-width: 100%;
}

main,
footer{
    display:flex;
    margin:20px;
    flex-wrap: wrap;
}

header{
    text-align:center;
    padding:20px;
}

.bar{
    display: flex;
    border-bottom: 1px solid #888;
}

ul{
    list-style-type: none;
    display:flex;
    flex-direction: row;
}

.bar li{
    font-size:larger;
    padding-right: 50px;
}

/*taken from above*/
img{
    border-radius: 50%;
}


/*creating the two-column layout*/
*{
    box-sizing: border-box;
}

.row{
    display:flex;
    margin-left:70px;
    margin-right:70px;
    margin-top:10px;
}

.post-text-box{
    padding: 20px;
}


.about{
    flex:70%;
    margin-right:20px;
    padding-right:20px;
}

.about h2{
    font-size:60px;
}

.about p{
    font-size: x-large;
}

.break{
    height: 50px;
}
